<div class="container col-md-6 mt-3 mb-3 card bg-light">
   <form action="/toys/edit/{{toys._id}}" method="post">
     <h1 class="text text-danger text-center text-uppercase mt-3">Edit toys</h1>
      <div class="form-group mt-3">
        <label class="h5 text text-success" for="">Toy Name</label> 
        <input class="form-control" type="text" name="name" value="{{toys.name}}" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Manufacturing Date</label>
         <input class="form-control" type="date" name="mfg" value="{{dateFormat toys.mfg "YYYY-MM-DD"}}" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Category</label><br>
         
         <select class="form-control" name="category"  id="category">
               <option value="{{toys.category}}">
                  {{toys.category}}
               </option>
               {{#each category }}
                <option value={{name}}>
                     {{name}}
               </option>
               {{/each}}
            
            </select>
      </div>
      
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Color</label>
         <input class="form-control" type="text" name="color" value="{{toys.color}}" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Manufacture</label>
         <input class="form-control" type="text" value="{{toys.manufacture}}" name="manufacture" required>
      </div>
       <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Detail</label>
         <input class="form-control" type="text" name="detail" value="{{toys.detail}}" required>
      </div>
     <div class="form-group mt-3">
         <label class="h5 text text-success" for="">image</label>
         <input class="form-control" type="text" name="image" value="{{toys.image}}" required>
      </div>
      <div class="form-group text-center mt-3 mb-3">
         <input class="btn btn-primary" type="submit" value="Add">
      </div>
   </form>
</div>